allow mediaserver sensorservice_service:service_manager find;
allow mediaserver device:dir { read open };
binder_call(mediaserver, servicemanager);
binder_call(mediaserver, sensorservice_service);
